{% load static %}
<!-- ...::: Start Footer Section :::... -->
<footer class="footer-section section-bg overflow-hidden pos-relative">
    <div class="footer-inner-shape-top-left"></div>
    <div class="footer-inner-shape-top-right"></div>
    <div class="footer-section-top section-gap-t-165">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Start Section Content -->
                    <div class="section-content pos-relative text-center">
                        <span class="section-tag">mustafaakgul.io</span>
                        <h2 class="section-title">Subscribe For Newsletter</h2>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>
            <div class="footer-top-wrapper text-center">
                <div class="row">
                    <div class="col-12">
                        <form action='{% url "add_newsletter" %}' method="post" class="footer-newsletter">
                            {% csrf_token %}
                            <input type="email" name="email" placeholder="demo@example.com">
                            <button class="submit-btn" type="submit">Subscribe Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-center section-gap-tb-165">
        <div class="container">
            <div class="row justify-content-between align-items-center mb-n5">
                <div class="col-auto mb-5">
                    <!-- Start Single Footer Info -->
                    <div class="footer-single-info">
                        <a href="tel:+905380586316" class="info-box">
                            <span class="icon"><i class="icofont-phone"></i></span>
                            <span class="text">+90 538 058 63 16</span>
                        </a>
                    </div>
                    <!-- Start Single Footer Info -->
                </div>
                <div class="col-auto mb-5">
                    <!-- Start Single Footer Info -->
                    <div class="footer-single-info">
                        <a href="mailto:mustafaakguldev@icloud.com" class="info-box">
                            <span class="icon"><i class="icofont-envelope-open"></i></span>
                            <span class="text">mustafaakguldev@icloud.com</span>
                        </a>
                    </div>
                    <!-- Start Single Footer Info -->
                </div>
                <div class="col-auto mb-5">
                    <!-- Start Single Footer Info -->
                    <div class="footer-single-info">
                        <ul class="social-link">
                            <li><a href="https://www.linkedin.com/in/mustafaakguldev/" target="_blank"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="https://github.com/mustafaakgul" target="_blank"><i class="icofont-github"></i></a></li>
                            <li><a href="https://twitter.com/mustafaakguldev" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a href="https://mustafaakgul.medium.com/" target="_blank"><i class="icofont-link"></i></a></li>
                            <li><a href="https://www.hackerrank.com/mustafaakgul" target="_blank"><i class="icofont-link"></i></a></li>
                            <li><a href="https://stackoverflow.com/users/17994076/mustafa-akg%c3%bcl" target="_blank"><i class="icofont-stack-overflow"></i></a></li>
                            <li><a href="https://www.facebook.com/mustafaakguldev" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/mustafaakguldev/" target="_blank"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- Start Single Footer Info -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-center justify-content-md-between align-items-center flex-column-reverse flex-md-row">
                <div class="col-auto">
                    <div class="footer-copyright">
                        <p class="copyright-text">&copy; 2023 <a href="http://mustafaakgul.io/">mustafaakgul.io</a></p>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="http://mustafaakgul.io/" class="footer-logo">
                        <div class="logo">
                            <img src="{% static 'assets/media/main.png' %}" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ...::: End Footer Section :::... -->