{% extends "includes/base.html" %}
{% load static %}

{% block body %}

    <main class="main-wrapper">

        {% include 'includes/header-additional.html' %}

        <!-- Offcanvas Overlay -->
        <div class="offcanvas-overlay"></div>

        <!-- ...::: Start Breadcrumb Section :::... -->
        <div class="breadcrumb-section section-bg overflow-hidden pos-relative">
            <div class="breadcrumb-shape-top-left"></div>
            <div class="breadcrumb-shape-bottom-right"></div>
            <div class="breadcrumb-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Page Not Found</h2>
                                <ul class="breadcrumb-link">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active" aria-current="page">404</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Breadcrumb Section :::... -->

        <!-- ...::: Start 404 Section :::... -->
        <div class="error-404-section section-gap-tb-165">
            <div class="error-404-box">
                <div class="container">
                    <div class="row align-items-center flex-md-row flex-column-reverse">
                        <div class="col-xl-5 col-md-6">
                            <div class="error-404-content">
                                <h2 class="title">Sorry!</h2>
                                <h4 class="sub-title">This Page is Not Found.</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and 
                                    dard dummy text ever since the 1500 when an uniknown
                                    specimen book has not only five.</p>

                                <a href="index.html" class="btn btn-md btn-outline-one icon-space-right"><i class="icofont-double-left"></i> Back To Home</a>
                            </div>
                        </div>
                        <div class="col-xl-6 offset-xl-1 col-md-6">
                            <div class="image">
                                <img class="img-fluid" src="../static/assets/images/bg/404-error.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End 404 Section :::... -->

        {% include 'includes/footer.html' %}

        <!-- material-scrolltop button -->
        <button class="material-scrolltop" type="button"></button>
    </main>

{% endblock body %}