{% extends "includes/base.html" %}
{% load static %}

{% block body %}

    <main class="main-wrapper">

        {% include 'includes/header-additional.html' %}

        <!-- Offcanvas Overlay -->
        <div class="offcanvas-overlay"></div>

        <!-- ...::: Start Breadcrumb Section :::... -->
        <div class="breadcrumb-section section-bg overflow-hidden pos-relative">
            <div class="breadcrumb-shape-top-left"></div>
            <div class="breadcrumb-shape-bottom-right"></div>
            <div class="breadcrumb-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">FAQ</h2>
                                <ul class="breadcrumb-link">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active" aria-current="page">FAQ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Breadcrumb Section :::... -->

        <!-- ...::: Start FAQ Section :::... -->
        <div class="faq-section section-gap-tb-165">
            <div class="faq-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="faq-wrapper">
                                <div class="faq-list-section">
                                    <!-- Start FAQ List Single Item -->
                                    <div class="faq-list-single-item">
                                        <div class="number">01.</div>
                                        <div class="content">
                                            <h4 class="title">How to start UI/UX Design?</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry an orem Ipsumhas been the industry's standard dummy text ever since the 1500s, when an unknown printtook a galley of type and scrambled book.</p>
                                        </div>
                                    </div>
                                    <!-- End FAQ List Single Item -->
                                    <!-- Start FAQ List Single Item -->
                                    <div class="faq-list-single-item">
                                        <div class="number">02.</div>
                                        <div class="content">
                                            <h4 class="title">Why you read UI design blog?</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry an orem Ipsumhas been the industry's standard dummy text ever since the 1500s, when an unknown printtook a galley of type and scrambled book.</p>
                                        </div>
                                    </div>
                                    <!-- End FAQ List Single Item -->
                                    <!-- Start FAQ List Single Item -->
                                    <div class="faq-list-single-item">
                                        <div class="number">03.</div>
                                        <div class="content">
                                            <h4 class="title">How to improve design quality?</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry an orem Ipsumhas been the industry's standard dummy text ever since the 1500s, when an unknown printtook a galley of type and scrambled book.</p>
                                        </div>
                                    </div>
                                    <!-- End FAQ List Single Item -->
                                    <!-- Start FAQ List Single Item -->
                                    <div class="faq-list-single-item">
                                        <div class="number">04.</div>
                                        <div class="content">
                                            <h4 class="title">How to easily start user testing?</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry an orem Ipsumhas been the industry's standard dummy text ever since the 1500s, when an unknown printtook a galley of type and scrambled book.</p>
                                        </div>
                                    </div>
                                    <!-- End FAQ List Single Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <!--  Start Pagination  -->
                            <div class="pagination">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="pagination-nav-list">
                                            <li class="prev"><a href="#"><i class="icofont-double-left"></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li class="active"><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li class="next"><a href="#"><i class="icofont-double-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--  Start Pagination  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End FAQ Section :::... -->

        {% include 'includes/footer.html' %}

        <!-- material-scrolltop button -->
        <button class="material-scrolltop" type="button"></button>
    </main>

{% endblock body %}