{% extends "includes/base.html" %}
{% load static %}

{% block body %}

    <main class="main-wrapper">

        {% include 'includes/header-additional.html' %}

        <!-- Offcanvas Overlay -->
        <div class="offcanvas-overlay"></div>

        <!-- ...::: Start Breadcrumb Section :::... -->
        <div class="breadcrumb-section section-bg overflow-hidden pos-relative">
            <div class="breadcrumb-shape-top-left"></div>
            <div class="breadcrumb-shape-bottom-right"></div>
            <div class="breadcrumb-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Project Details</h2>
                                <ul class="breadcrumb-link">
                                    <li><a href="service-list.html">Projects</a></li>
                                    <li class="active" aria-current="page">Project Details</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Breadcrumb Section :::... -->

        <!-- .....:::::: Start Project Details Section :::::.... -->
        <div class="project-details-section section-gap-tb-165">
            <div class="project-details-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Start Project Content Section -->
                            <div class="project-content-section pos-relative">
                                <div class="project-hero-image">
                                    <img src="../static/assets/images/project/project-details-hero-img.jpg" alt="">
                                </div>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <!-- Start Section Content -->
                                        <div class="default-content-style pos-relative">
                                            <span class="section-tag">Givest - Non Profit Website</span>
                                            <h2 class="title">Givest is a non profit and fund rising website.</h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                                indust standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                                indust standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                                scrambled it typesetting, remaining essentially unchanged.</p>

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                                indust standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                                scrambled it typesetting, remaining essentially unchanged.</p>

                                            <h3 class="sub-title">How to complete this?</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indust standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it typesetting, remaining essentially unchanged.</p>

                                            <ul class="content-list-item content-list-with-icon">
                                                <li>
                                                    <div class="left">
                                                        <div class="icon">
                                                            <i class="icofont-bulb-alt"></i>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <h4 class="list-title">Idea Generate</h4>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
                                                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                                            typesetting, remaining essentially unchanged.</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="left">
                                                        <div class="icon">
                                                            <i class="icofont-ruler-pencil-alt-2"></i>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <h4 class="list-title">Reasearch & Sketching</h4>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
                                                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                                            typesetting, remaining essentially unchanged.</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="left">
                                                        <div class="icon">
                                                            <i class="icofont-airplane"></i>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <h4 class="list-title">Launced Project</h4>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
                                                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                                            typesetting, remaining essentially unchanged.</p>
                                                    </div>
                                                </li>
                                            </ul>

                                            <h3 class="sub-title">Project result and summery</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indust standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it typesetting, remaining essentially unchanged.</p>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indust standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it typesetting, remaining essentially unchanged.</p>
                                        </div>
                                        <!-- End Section Content -->
                                    </div>
                                    <div class="col-xl-3 col-lg-4 offset-xl-1">
                                        <div class="project-sidebar">
                                            <h3 class="title">Information</h3>
                                            <!-- Start Project Sidebar Item -->
                                            <ul class="project-sidebar-list-item">
                                                <!-- Start Project Single Box -->
                                                <li class="project-sidebar-single-box">
                                                    <h6 class="title-text">Project Name:</h6>
                                                    <span class="text">Givest</span>
                                                </li>
                                                <!-- End Project Single Box -->
                                                <!-- Start Project Single Box -->
                                                <li class="project-sidebar-single-box">
                                                    <h6 class="title-text">Clients:</h6>
                                                    <span class="text">Reatha Alcorn</span>
                                                </li>
                                                <!-- End Project Single Box -->
                                                <!-- Start Project Single Box -->
                                                <li class="project-sidebar-single-box">
                                                    <h6 class="title-text">Budget:</h6>
                                                    <span class="text">$890.00</span>
                                                </li>
                                                <!-- End Project Single Box -->
                                                <!-- Start Project Single Box -->
                                                <li class="project-sidebar-single-box">
                                                    <h6 class="title-text">Duration:</h6>
                                                    <span class="text">25 days</span>
                                                </li>
                                                <!-- End Project Single Box -->
                                                <!-- Start Project Single Box -->
                                                <li class="project-sidebar-single-box">
                                                    <h6 class="title-text">Date:</h6>
                                                    <span class="text">09 Feb, 2021</span>
                                                </li>
                                                <!-- End Project Single Box -->
                                            </ul>
                                            <!-- End Project Sidebar Item -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- End Project Content Section -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .....:::::: End Project Details Section :::::.... -->

        <!-- ...::: Start Counter Display Section :::... -->
        <div class="counter-display-section section-gap-tb-165 section-bg-2">
            <div class="counter-display-wrapper">
                <div class="container">
                    <div class="row justify-content-center justify-content-sm-start">
                        <div class="d-block d-md-flex justify-content-md-start col-12 col-sm-4 col-md-4">
                            <!-- Start Counterup Single Item -->
                            <div class="counterup-single-item">
                                <div class="icon">
                                    <img src="../static/assets/images/icon/counterup-icon-1.png" alt="">
                                </div>
                                <div class="content">
                                    <h2 class="number"><span class="counter">2,58</span>+</h2>
                                    <span class="text">Happy Clients</span>
                                </div>
                            </div>
                            <!-- End Counterup Single Item -->
                        </div>
                        <div class="d-block d-md-flex justify-content-md-center col-12 col-sm-4 col-md-4">
                            <!-- Start Counterup Single Item -->
                            <div class="counterup-single-item">
                                <div class="icon">
                                    <img src="../static/assets/images/icon/counterup-icon-2.png" alt="">
                                </div>
                                <div class="content">
                                    <h2 class="number"><span class="counter">590</span>K</h2>
                                    <span class="text">Project Complete</span>
                                </div>
                            </div>
                            <!-- End Counterup Single Item -->
                        </div>
                        <div class="d-block d-md-flex justify-content-md-end col-12 col-sm-4 col-md-4">
                            <!-- Start Counterup Single Item -->
                            <div class="counterup-single-item">
                                <div class="icon">
                                    <img src="../static/assets/images/icon/counterup-icon-3.png" alt="">
                                </div>
                                <div class="content">
                                    <h2 class="number"><span class="counter">28</span>+</h2>
                                    <span class="text">Years of Experience</span>
                                </div>
                            </div>
                            <!-- End Counterup Single Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Counter Display Section :::... -->

        {% include 'includes/footer.html' %}

        <!-- material-scrolltop button -->
        <button class="material-scrolltop" type="button"></button>
    </main>

{% endblock body %}