{% extends "includes/base.html" %}
{% load static %}

{% block body %}

    <main class="main-wrapper">

        {% include 'includes/header-additional.html' %}

        <!-- Offcanvas Overlay -->
        <div class="offcanvas-overlay"></div>

        <!-- ...::: Start Breadcrumb Section :::... -->
        <div class="breadcrumb-section section-bg overflow-hidden pos-relative">
            <div class="breadcrumb-shape-top-left"></div>
            <div class="breadcrumb-shape-bottom-right"></div>
            <div class="breadcrumb-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Projects</h2>
                                <ul class="breadcrumb-link">
                                    <li><a href="project-list.html">Home</a></li>
                                    <li class="active" aria-current="page">Projects List</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Breadcrumb Section :::... -->

        <!-- .....:::::: Start Project Section :::::.... -->
        <div class="project-section section-gap-tb-165">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="projects-gallery-filter-nav">
                            <button class="btn btn-outline-secondary active" data-filter="*">All</button>
                            <button class="btn btn-outline-secondary" data-filter=".html">HTML</button>
                            <button class="btn btn-outline-secondary" data-filter=".wordpress">Wordpress</button>
                            <button class="btn btn-outline-secondary" data-filter=".shopify">Shopify</button>
                            <button class="btn btn-outline-secondary" data-filter=".seo">SEO</button>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="projects-wrapper-gallery-content">
                            <div class="row">
                                <div class="col-md-6 filter-item html">
                                    <!-- Start Project Box Single Item -->
                                    <div class="project-box-single-item">
                                        <div class="img-box">
                                            <div class="bg-overlay"></div>
                                            <div class="bg-image">
                                                <img src="../static/assets/images/project/project-slider-img-1.jpg" alt="">
                                            </div>
                                            <div class="image">
                                                <img src="../static/assets/images/project/project-slider-img-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="project-details.html">Givest - Non Profit PSD Template</a></h4>

                                            <ul class="catagory-nav-item">
                                                <li><a href="">Chairty</a></li>
                                                <li><a href="">Fund Rising</a></li>
                                                <li><a href="">Non Profit</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Project Box Single Item -->
                                </div>
                                <div class="col-md-6 filter-item industwordpressrial">
                                    <!-- Start Project Box Single Item -->
                                    <div class="project-box-single-item">
                                        <div class="img-box">
                                            <div class="bg-overlay"></div>
                                            <div class="bg-image">
                                                <img src="../static/assets/images/project/project-slider-img-2.jpg" alt="">
                                            </div>
                                            <div class="image">
                                                <img src="../static/assets/images/project/project-slider-img-2.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="project-details.html">Musion – Gardening HTML Template</a></h4>

                                            <ul class="catagory-nav-item">
                                                <li><a href="">Chairty</a></li>
                                                <li><a href="">Fund Rising</a></li>
                                                <li><a href="">Non Profit</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Project Box Single Item -->
                                </div>
                                <div class="col-md-6 filter-item shopify">
                                    <!-- Start Project Box Single Item -->
                                    <div class="project-box-single-item">
                                        <div class="img-box">
                                            <div class="bg-overlay"></div>
                                            <div class="bg-image">
                                                <img src="../static/assets/images/project/project-slider-img-3.jpg" alt="">
                                            </div>
                                            <div class="image">
                                                <img src="../static/assets/images/project/project-slider-img-3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="project-details.html">SEOLLY - SEO Marketing & Digital Agency</a></h4>

                                            <ul class="catagory-nav-item">
                                                <li><a href="">Chairty</a></li>
                                                <li><a href="">Fund Rising</a></li>
                                                <li><a href="">Non Profit</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Project Box Single Item -->
                                </div>
                                <div class="col-md-6 filter-item seo">
                                    <!-- Start Project Box Single Item -->
                                    <div class="project-box-single-item">
                                        <div class="img-box">
                                            <div class="bg-overlay"></div>
                                            <div class="bg-image">
                                                <img src="../static/assets/images/project/project-slider-img-4.jpg" alt="">
                                            </div>
                                            <div class="image">
                                                <img src="../static/assets/images/project/project-slider-img-4.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="project-details.html">Virtuf - Creative Agency Bootstrap 5 Template</a></h4>

                                            <ul class="catagory-nav-item">
                                                <li><a href="">Chairty</a></li>
                                                <li><a href="">Fund Rising</a></li>
                                                <li><a href="">Non Profit</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Project Box Single Item -->
                                </div>
                                <div class="col-md-6 filter-item html">
                                    <!-- Start Project Box Single Item -->
                                    <div class="project-box-single-item">
                                        <div class="img-box">
                                            <div class="bg-overlay"></div>
                                            <div class="bg-image">
                                                <img src="../static/assets/images/project/project-slider-img-5.jpg" alt="">
                                            </div>
                                            <div class="image">
                                                <img src="../static/assets/images/project/project-slider-img-5.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="project-details.html">Tourve - Travel Agency Bootstrap 5 Template</a></h4>

                                            <ul class="catagory-nav-item">
                                                <li><a href="">Chairty</a></li>
                                                <li><a href="">Fund Rising</a></li>
                                                <li><a href="">Non Profit</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Project Box Single Item -->
                                </div>
                                <div class="col-md-6 filter-item wordpress">
                                    <!-- Start Project Box Single Item -->
                                    <div class="project-box-single-item">
                                        <div class="img-box">
                                            <div class="bg-overlay"></div>
                                            <div class="bg-image">
                                                <img src="../static/assets/images/project/project-slider-img-6.jpg" alt="">
                                            </div>
                                            <div class="image">
                                                <img src="../static/assets/images/project/project-slider-img-6.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="project-details.html">Induste - Industrial & Factory Bootstrap 5 Template</a></h4>

                                            <ul class="catagory-nav-item">
                                                <li><a href="">Chairty</a></li>
                                                <li><a href="">Fund Rising</a></li>
                                                <li><a href="">Non Profit</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Project Box Single Item -->
                                </div>
                                <div class="col-md-6 filter-item shopify">
                                    <!-- Start Project Box Single Item -->
                                    <div class="project-box-single-item">
                                        <div class="img-box">
                                            <div class="bg-overlay"></div>
                                            <div class="bg-image">
                                                <img src="../static/assets/images/project/project-slider-img-7.jpg" alt="">
                                            </div>
                                            <div class="image">
                                                <img src="../static/assets/images/project/project-slider-img-7.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="project-details.html">Consor - Multi Purpose One Page PSD Template</a></h4>

                                            <ul class="catagory-nav-item">
                                                <li><a href="">Chairty</a></li>
                                                <li><a href="">Fund Rising</a></li>
                                                <li><a href="">Non Profit</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Project Box Single Item -->
                                </div>
                                <div class="col-md-6 filter-item seo">
                                    <!-- Start Project Box Single Item -->
                                    <div class="project-box-single-item">
                                        <div class="img-box">
                                            <div class="bg-overlay"></div>
                                            <div class="bg-image">
                                                <img src="../static/assets/images/project/project-slider-img-8.jpg" alt="">
                                            </div>
                                            <div class="image">
                                                <img src="../static/assets/images/project/project-slider-img-8.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="project-details.html">Asore - Business Bootstrap 5 Template</a></h4>

                                            <ul class="catagory-nav-item">
                                                <li><a href="">Chairty</a></li>
                                                <li><a href="">Fund Rising</a></li>
                                                <li><a href="">Non Profit</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Project Box Single Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- .....:::::: End Project Section :::::.... -->

        {% include 'includes/footer.html' %}

        <!-- material-scrolltop button -->
        <button class="material-scrolltop" type="button"></button>
    </main>

{% endblock body %}