{% extends "includes/base.html" %}
{% load static %}

{% block body %}

    <main class="main-wrapper">

        {% include 'includes/header-additional.html' %}

        <!-- Offcanvas Overlay -->
        <div class="offcanvas-overlay"></div>

        <!-- ...::: Start Breadcrumb Section :::... -->
        <div class="breadcrumb-section section-bg overflow-hidden pos-relative">
            <div class="breadcrumb-shape-top-left"></div>
            <div class="breadcrumb-shape-bottom-right"></div>
            <div class="breadcrumb-box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Services Details</h2>
                                <ul class="breadcrumb-link">
                                    <li><a href="service-list.html">Service</a></li>
                                    <li class="active" aria-current="page">Service Details</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Breadcrumb Section :::... -->

        <!-- ...::: Start Service Details Section :::... -->
        <div class="service-details-section section-gap-tb-165">
            <div class="service-details-box">
                <div class="container">
                    <div class="row flex-lg-row flex-column-reverse">
                        <div class="col-xl-4 col-lg-5">
                            <!-- Start Sidebar Widget Area-->
                            <div class="sidebar-widget-area">
                                <!-- Start Sidebar Widget Single Item - Catagory Widgets -->
                                <div class="sidebar-widget-single-area catagory-widgets">
                                    <h3 class="title">Category</h3>
                                    <ul class="widget-nav-list catagory-item-list">
                                        <li><a href="#"><span class="text">UI/UX Design</span><span class="icon"><i class="icofont-double-right"></i></span></a></li>
                                        <li><a href="#"><span class="text">Web Development</span><span class="icon"><i class="icofont-double-right"></i></span></a></li>
                                        <li><a href="#"><span class="text">Brand Identity</span><span class="icon"><i class="icofont-double-right"></i></span></a></li>
                                        <li><a href="#"><span class="text">Digital Marketing</span><span class="icon"><i class="icofont-double-right"></i></span></a></li>
                                    </ul>
                                </div>
                                <!-- End Sidebar Widget Single Item - Catagory Widgets -->

                                <!-- Start Sidebar Widget Single Item - Resume Widgets -->
                                <div class="sidebar-widget-single-area resume-widgets">
                                    <h3 class="title">Resume</h3>
                                    <ul class="widget-nav-list resume-item-list">
                                        <li><a href="#"><span class="text">Get Resume.pdf</span><span class="icon"><i class="icofont-file-pdf"></i></span></a></li>
                                        <li><a href="#"><span class="text">Get Resume.doc</span><span class="icon"><i class="icofont-file-word"></i></span></a></li>
                                        <li><a href="#"><span class="text">Get Resume.ppt</span><span class="icon"><i class="icofont-file-powerpoint"></i></span></a></li>
                                    </ul>
                                </div>
                                <!-- End Sidebar Widget Single Item - Resume Widgets -->
                            </div>
                            <!-- End Sidebar Widget Area-->
                        </div>
                        <div class="col-xl-7 col-lg-7 offset-xl-1">
                            <!-- Start Service Content Section -->
                            <div class="service-content-section">
                                <div class="content-hero-image">
                                    <img src="../static/assets/images/service/service-details-hero-img.jpg" alt="">
                                </div>
                                <!-- Start Section Content -->
                                <div class="default-content-style pos-relative">
                                    <span class="section-tag">UI/UX Design</span>
                                    <h2 class="title">UI design can make easy your complex product.</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                                        took a galley of type and scrambled it to make a type specimen book. It has survived not
                                        only five centuries, but also the leap into electronic.</p>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                                        took a galley of type and scrambled electronic.</p>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                                        took a galley of type and scrambled electronic.</p>

                                    <h3 class="sub-title">Why Choose Me?</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                                        took a galley of type and scrambled electronic.</p>

                                    <ul class="content-list-item content-list-with-text">
                                        <li>
                                            <div class="left">
                                                <h4 class="list-title">Leadership</h4>
                                            </div>
                                            <div class="right">
                                                <p>Lorem Ipsum is simply dummy text of the printing and
                                                    has been the industry's standard dummy text ever
                                                    took a galley of type make.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <h4 class="list-title">Team Work</h4>
                                            </div>
                                            <div class="right">
                                                <p>Lorem Ipsum is simply dummy text of the printing and
                                                    has been the industry's standard dummy text ever
                                                    took a galley of type make.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left">
                                                <h4 class="list-title">Flexibility</h4>
                                            </div>
                                            <div class="right">
                                                <p>Lorem Ipsum is simply dummy text of the printing and
                                                    has been the industry's standard dummy text ever
                                                    took a galley of type make.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                                        took a galley of type and scrambled it to make a type specimen book. It has survived not
                                        only five centuries, but also the leap into electronic.</p>

                                    <h3 class="sub-title">My Service Planing</h3>
                                    <p>Lorem Ipsum is simply dummy text the printing and typesetting industry has been industry
                                        standard dummy text ever since the scrambled electronic.</p>
                                </div>
                                <!-- End Section Content -->
                            </div>
                            <!-- End Service Content Section -->
                            <!-- Start Pricing Area -->
                            <ul class="pricing-area">
                                <!-- Start Pricing Single Item -->
                                <li class="pricing-single-item">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <h4 class="name">Basic</h4>
                                    <h2 class="value">$90</h2>
                                    <span class="time">/mo</span>
                                    <ul class="list-items">
                                        <li>01 Landing page</li>
                                        <li>08 Inner page</li>
                                        <li>03 Months support</li>
                                        <li>04 Revision</li>
                                    </ul>
                                    <a href="#" class="btn btn-lg btn-outline-one">Get Started</a>
                                </li>
                                <!-- End Pricing Single Item -->
                                <!-- Start Pricing Single Item -->
                                <li class="pricing-single-item">
                                    <div class="inner-shape inner-shape-top-right"></div>
                                    <h4 class="name">Standard</h4>
                                    <h2 class="value">$100</h2>
                                    <span class="time">/mo</span>
                                    <ul class="list-items">
                                        <li>03 Landing Page</li>
                                        <li>18 Inner page</li>
                                        <li>07 Months support</li>
                                        <li>Unlimited Revision</li>
                                    </ul>
                                    <a href="#" class="btn btn-lg btn-outline-one">Get Started</a>
                                </li>
                                <!-- End Pricing Single Item -->
                            </ul>
                            <!-- End Pricing Area -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Service Details Section :::... -->

        <!-- ...::: Start Company Logo Display Section :::... -->
        <div class="company-logo-display  section-bg-2  section-gap-tb-165">
            <div class="company-logo-display-box">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- Start Section Content -->
                            <div class="section-content pos-relative">
                                <span class="section-tag">Favourite Clients</span>
                                <h2 class="section-title">Work With Trusted Comapny.</h2>
                            </div>
                            <!-- End Section Content -->
                        </div>
                    </div>

                    <div class="company-logo-display-wrapper">
                        <div class="row">
                            <div class="col">
                                <div class="company-logo-display-slider">
                                    <!-- Slider main container -->
                                    <div class="swiper-container">
                                        <!-- Additional required wrapper -->
                                        <div class="swiper-wrapper">
                                            <!-- Start Company Logo Slider Single Item -->
                                            <div class="company-logo-single-item swiper-slide">
                                                <a href="#" class="image">
                                                    <img src="../static/assets/images/company-logo/company-logo-1.png" alt="">
                                                    <img src="../static/assets/images/company-logo/1.png" alt="">
                                                </a>
                                            </div>
                                            <!-- End Company Logo Slider Single Item -->
                                            <!-- Start Company Logo Slider Single Item -->
                                            <div class="company-logo-single-item swiper-slide">
                                                <a href="#" class="image">
                                                    <img src="../static/assets/images/company-logo/company-logo-2.png" alt="">
                                                    <img src="../static/assets/images/company-logo/2.png" alt="">
                                                </a>
                                            </div>
                                            <!-- End Company Logo Slider Single Item -->
                                            <!-- Start Company Logo Slider Single Item -->
                                            <div class="company-logo-single-item swiper-slide">
                                                <a href="#" class="image">
                                                    <img src="../static/assets/images/company-logo/company-logo-3.png" alt="">
                                                    <img src="../static/assets/images/company-logo/3.png" alt="">
                                                </a>
                                            </div>
                                            <!-- End Company Logo Slider Single Item -->
                                            <!-- Start Company Logo Slider Single Item -->
                                            <div class="company-logo-single-item swiper-slide">
                                                <a href="#" class="image">
                                                    <img src="../static/assets/images/company-logo/company-logo-4.png" alt="">
                                                    <img src="../static/assets/images/company-logo/4.png" alt="">
                                                </a>
                                            </div>
                                            <!-- End Company Logo Slider Single Item -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...::: End Company Logo Display Section :::... -->

        {% include 'includes/footer.html' %}

        <!-- material-scrolltop button -->
        <button class="material-scrolltop" type="button"></button>
    </main>

{% endblock body %}